/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body { line-height:1;} article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section {  display:block; } nav ul { list-style:none; } blockquote, q { quotes:none; } blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; } a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; } ins { background-color:#ff9; color:#000; text-decoration:none; } mark { background-color:#ff9; color:#000;  font-style:italic; font-weight:bold; } del { text-decoration: line-through; } abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; } table { border-collapse:collapse; border-spacing:0; }  hr { display:block; height:1px; border:0;  border-top:1px solid #cccccc; margin:1em 0; padding:0; } input, select { vertical-align:middle; }

html, body {height: 100%; width: 100%; }
body {font-size:100%; color:#000; line-height:1.5em; font-family:Georgia, serif; background-color: #791416; transform: scale(0.735); transform-origin: 0 0;}
h1 {font-size:1.5rem; padding-bottom:10px;}

.view-height {
  position:relative;
  height: 100%;
  width:2000px;
  margin: 0 auto;
 
}
.header-wrapper {
  position:relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  background-color: #feffff; 
  padding:10px 30px 5px 30px; 
  max-width:2000px;
}
.header-wrapper div {
  flex: 5;
}
.header-wrapper .instructions {
  flex: 1; 
  text-align: right;
}
.content-wrapper {
  position: relative;
/*  height: 2149px;*/
   
}
.image-container {
    position: relative;
    display: inline-block; /* Makes the container fit the content, i.e., the image */ 
   
}
.image-container img {
  max-width:2000px;
}
.point {
    position: absolute;
    width: 75px; /* Size of the buttons */
    height: 75px; /* Size of the buttons */
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white */
    border-radius: 50%; /* Circular buttons */
    border: 3px solid red; /* Red border */
    cursor: pointer;
    display: flex; /* Centers the content (if any) within the button */
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
}
.info-box {
    display:none;
    border: 1px solid #333;
    padding: 5px 10px;
    position: absolute;
    z-index: 100;
    max-width: 1000px; /* Adjust the width as needed */
    word-wrap: break-word;
    font-size: 1.2rem;
    background-color:#fff; 
    opacity:0.97; 
    color:#000;
    border-radius:10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height:1.5em;
}
